

.recommended-friends {
    margin-top: 17px;
    border-bottom: var(--thin-border);
}

.recommended-friends__header {
    color: rgba(0, 0, 0, 0.6);
    font-size: 93%;
}

.recommended-friends__text {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.open-chat {
    margin-top: 17px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    font-size: 93%;
}

.open-chat__header__column:first-child {
    color: rgba(0, 0, 0, 0.6);
}

.open-chat__header__column:last-child {
    color: rgba(0, 0, 0, 0.4);
}

.open-chat__component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.open-chat__component__column:first-child {
    display: flex;
    flex-direction: column;
    line-height: 23px;
}

.open-chat__component .open-chat__component__column:nth-child(2) {
    position: relative;
}

.open-chat__component .open-chat__component__column:nth-child(2) img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    position: relative;
}

.open-chat__component__column__title {
    font-size: 120%;
}

.open-chat__component__column__subtitle {
    color: rgba(0, 0, 0, 0.5);
}

.open-chat__component__column__status {
    color: rgba(0, 0, 0, 0.5);
    font-size: 90%;
    display: flex;
    align-items: center;
}

.open-chat__component__column__status i {
    margin: 0px 6px;
}

.open-chat__component__column__status img {
    margin-right: 5px;
}

.open-chat__component__column__status span:last-child {
    color: var(--tokiblue);
}

.open-chat__component__column__like-block {
    position: absolute;
    bottom: 8px;
    right: 5px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    padding: 5px;
    font-size: 70%;
    border-radius: 25px;
}

@keyframes animateHeart {
    0% {
      transform: scale(0.9);
    }
    5% {
      transform: scale(1.1);
    }
    10% {
      transform: scale(1);
    }
    15% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

.open-chat__component__column__like-block i {
    margin-right: 3px;
    will-change: transform; /* makes the browser to make the animation smoother */
    animation: animateHeart 1.2s infinite;
}

.open-chat__component__dividing-line {
    margin-bottom: 12px;
    height: 1px;
    background-color: rgba(0,0,0,0.09);
}