#new-features-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 10px;
    background-color: #E6F4FE;
    color: #2e363e;
    padding: 14px 0px;
}

#new-features-link i {
    margin-left: 6px;
    margin-right: 6px;
    color: rgba(18, 114, 239, 0.85);
}

.friends-screen__channel {
    border-top: 1px solid rgba(0,0,0,0.09);
    margin-top: 20px;
}

.friends-screen__channel-header {
    padding-top: 10px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--tokiblue);
    width: 96.5vw;
    height: 100vh;
    color: white;
    position: absolute;
    top: 0px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    animation: hideSplashScreen 1s ease-out forwards; /* forwards는 keyframe의 마지막 속성 값을 기억하게 한다 */
    animation-delay: 0.8s;
}