.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF3F2E;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 90%;
}

.badge-dot {
  background-color: #EF3F2E;
 
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
}

.badge-image {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}