.nav {
  background-color: #f9f9fa;
  padding: 19px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  /* why does it lose the width when the position is fixed? */
  width: 100%;
  /* and we lost the elipsis!! How can I solve this?  */
  box-sizing: border-box; /* magic line */ 
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: rgba(18, 114, 239, 0.85);
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 27px;
  top: -18px;
  animation: notificationAnimation 2s ease;
}

.nav__notification-dot {
  position: absolute;
  left: 30px;
  top: -10px;
  animation: notificationAnimation 2s ease;
}

@keyframes notificationAnimation {
	0%, 40%, 60%, 80%, 100% {transform: translateY(0);}
	20% {transform: translateY(-15px);}
	50% {transform: translateY(-8px);}
}