.screen-header {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    padding: 0px var(--side-space);
    align-items: center;
}

.screen-header__title {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    font-size: 180%;
    font-weight: 500;
}

.screen-header__icons {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.screen-header__icons span {
    margin-left: 35px;
    position: relative;
}

.screen-header__icons__notification-dot {
    position: absolute;
    bottom: 20px;
    left: 23px;
}

@keyframes rotateGear {
    from {transform: none;}
    to {transform: rotateZ(360deg);}
}

.screen-header__icons .fa-gear:hover {
    animation: rotateGear 2s linear infinite;
}

@keyframes Brrr {
    30% {transform: none;}
    40%, 60% { transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    70% { transform: rotate(0deg); }
    100% { transform: scale(1); }
  }

  .screen-header__icons .fa-music:hover {
    animation: Brrr 1s ease infinite;
  }