.main-screen {
    margin: 0px var(--side-space);
}

.user-component {
    justify-content: space-between;
    margin-bottom: 15px;
}

.user-component, .user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column--opaque {
    color: rgba(0,0,0,0.5);
}

.user-component__column__chat-right {
    display: flex;
    flex-direction: column;
}

.user-component__time {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.4);
}
.user-component__notification {
    position: relative;
    top: 7px;
    left: 10px;
}
.user-component__picture {
    width: 70px;
    height: 70px;
    border-radius: 38%;
    margin-right: 17px;
}

.user-component__picture--xl {
    width: 80px;
    height: 80px;
}

.user-component__picture--sm {
    width: 60px;
    height: 60px;
}

.user-component__text {
    font-weight: 600;
    font-size: 18px;
}

.user-component__name--not-bold {
    font-weight: 400;
}

.user-component__subtext {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.4);
}

.user-component__subtext i {
    margin-left: 5px;
    color: #EF3F2E;
}
.user-component__dividing-line {
    margin-bottom: 15px;
    height: 1px;
    background-color: rgba(0,0,0,0.09);
}